  .manageChildAccountPage-homepage {
    padding-left: 5%;
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar Styles */
  .manageChildAccountPage-sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    transition: transform 0.3s ease;
  }
  
  .manageChildAccountPage-sidebar.manageChildAccountPage-closed {
    transform: translateX(-250px);
  }
  
  .manageChildAccountPage-sidebar.manageChildAccountPage-open {
    transform: translateX(0);
  }
  
  .manageChildAccountPage-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .manageChildAccountPage-sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #34495e;
    cursor: pointer;
  }
  
  .manageChildAccountPage-sidebar ul li:hover {
    background-color: #34495e;
  }
  
  .manageChildAccountPage-close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  /* main Content Styles */
  .manageChildAccountPage-main-content {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .manageChildAccountPage-main-content.manageChildAccountPage-shifted {
    margin-left: 250px;
  }
  
  .manageChildAccountPage-main-content.manageChildAccountPage-full {
    margin-left: 0;
  }
  
  .manageChildAccountPage-profile-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .manageChildAccountPage-profile-icon:hover {
    background-color: #f0f0f0;
  }