.childAccount-page {
  padding-left: 5%;
  display: flex;
  height: 100vh;
}

.childAccount-main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.childAccount-main-content.childAccount-shifted {
  margin-left: 250px;
}

.childAccount-main-content.childAccount-full {
  margin-left: 0;
}

/* Edit Button */
.childAccount-edit-child-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.childAccount-edit-child-button:hover {
  background-color: #0056b3;
}

.childAccount-back-btn {
  background-color: #00aeff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.childAccount-back-btn:hover {
  background-color: #0056b3;
  border-color: #444;
}

.childAccount-reset-password-button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.childAccount-reset-password-button:hover {
  background-color: #b30000;
}

.childAccount-join-child-session-button {
  background-color: #187f06;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.childAccount-join-child-session-button:hover {
  background-color: #04db5a;
}