/* General Styles */
.childAccount-page {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar Styles */
.childAccount-sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  position: fixed;
  height: 100vh;
  transition: transform 0.3s ease;
}

.childAccount-sidebar.closed {
  transform: translateX(-250px);
}

.childAccount-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.childAccount-sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #34495e;
  cursor: pointer;
}

.childAccount-sidebar ul li:hover {
  background-color: #34495e;
}

.childAccount-close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Main Content Styles */
.childAccount-main-content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.childAccount-main-content.full {
  margin-left: 0;
}

.childAccount-profile-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.childAccount-profile-icon:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 5px;
}

/* Child Account Details Section */
.childAccount-details {
  margin-top: 80px;
}

.childAccount-details h2 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
}

.childAccount-details p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 10px;
}

.childAccount-details strong {
  color: #333;
}

.childAccount-details p span {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.childAccount-details p span:hover {
  color: #0056b3;
}

/* Edit Button */
.edit-child-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.edit-child-button:hover {
  background-color: #0056b3;
}

.childAccount-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.reset-password-button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-password-button:hover {
  background-color: #b30000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .childAccount-main-content {
    margin-left: 0;
  }

  .childAccount-sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .childAccount-sidebar.closed {
    transform: translateX(0);
  }

  .childAccount-sidebar ul li {
    font-size: 1.2em;
  }
}
