.childProfilepage-profile-container {
  /* padding: 2rem;
  max-width: 800px;
  margin: 0 auto; */
  padding-left: 5%;
  display: flex;
  height: 100vh;
}

.childProfilepage-profile-content {
  /* display: flex;
  gap: 2rem;
  align-items: flex-start; */
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.childProfilepage-profile-content.childProfilepage-shifted {
  margin-left: 250px;
}

.childProfilepage-profile-content.childProfilepage-full {
  margin-left: 0;
}

.childProfilepage-profile-picture {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.childProfilepage-profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.childProfilepage-profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 25%;
}

.childProfilepage-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.childProfilepage-form-group label {
  font-weight: 600;
  color: #333;
}

.childProfilepage-form-group input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 70%;
  max-width: 400px;
}

.childProfilepage-update-btn {
  align-self: flex-start;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: #ddd;
  color: #666;
  cursor: not-allowed;
  transition: all 0.3s ease;
}

.childProfilepage-update-btn.active {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.childProfilepage-update-btn.active:hover {
  background-color: #0056b3;
}

.childProfilepage-back-btn {
  align-self: flex-start;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: #00aeff;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.childProfilepage-back-btn:hover {
  background-color: #0056b3;
  border-color: #444;
  color: white;
}